{% extends "todoapp/base.html" %}
{% block content %}

<div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Add Your TODO HERE</h1>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card-footer"><button class="btn btn-primary btn-sm mb-4" id="add-todo-button">Add TODO</button></div>
            <form id="todo-add-form" method="post" action="{% url 'add-todo' %}">
                {% csrf_token %}
                  <div class="form-group mb-4">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" aria-describedby="title" name="title" placeholder="Enter title">
                  </div>

                <div class="form-group mb-4">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" aria-describedby="description" name="description" placeholder="Enter title">
                </div>
                <div class="form-group mb-4">
                    <label for="location">Location</label>
                    <select class="form-select" name="location" aria-label="Default select example">
                      <option selected value="" id="current-location"></option>
                      <option value="53.400002,-2.983333">Liverpool, the UK</option>
                      <option value="55.860916,-4.251433">Glasgow, the UK</option>
                      <option value="51.509865,-0.118092">London, the UK</option>
                      <option value="53.483959,-2.244644">Manchester, UK</option>
                      <option value="51.454514,-2.587910">Bristol, UK</option>
                    </select>

                </div>
                <button type="button" class="btn btn-info" onclick="getLocation()">Use My Current Location</button>


                  <div class="form-check ">
                  </div>

                  <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <hr>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Your TODO List</h1>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5">
                {% for item in data %}
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">{{ item.title }}</h2>
                            <p class="card-text">{{ item.description }}</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'show-todo' id=item.id %}">Edit</a> <a class="btn btn-danger btn-sm" href="{% url 'delete-todo' id=item.id %}">delete</a></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

{% endblock content %}